{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "no-unused-vars": "warn",
    "func-names": ["warn", "as-needed"],
    "comma-dangle": [
      "warn",
      {
        "arrays": "always",
        "objects": "only-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "import/extensions": ["warn", "never"],
    "operator-linebreak": ["warn", "after"],
    "arrow-body-style": ["warn", "as-needed"],
    "linebreak-style": ["warn", "windows"]
  }
}
