.swiper-slide {
text-align: center;
}

.swiper-pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &-fraction {
    bottom: 0;
  }

  &-bullet {
    width: 25px;
    height: 5px;
    border-radius: 5px;
  }
}