.swiper {
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  width: 97%;
  padding-bottom: 30px;
}

.swiper-slide {
  text-align: center;
}

.swiper-pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &-fraction {
    bottom: 0;
  }

  &-bullet {
    width: 25px;
    height: 5px;
    border-radius: 5px;

    &-active {
      background: rgb(46, 45, 45);
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(202, 199, 199);

  &:hover {
    color: rgb(46, 45, 45);
  }
}
